html, body{
  font-family: 'Roboto',sans-serif;
  margin: 0;
  padding: 0;
}

li {
  display:inline-block;
  margin-left: 8px;
}


header {
  position: absolute;
  top: 0px;
  left: 980px;
}

header a{
  color: black;
  text-decoration: none;
  font-size: 12px;
}

header img{
  vertical-align:middle;
}

a:hover{
  text-decoration: underline;
}

section{
  text-align: center;
  margin-top: 200px;
}

footer a{
  text-decoration: none;
  color: #666666;
  font-size: 12px;
}


.form input{
    width: 570px;
    height: 42px;
    margin-top: 20px;
    border-style: solid;
    border-width: 0.3px;
    border-color: #E5E5E5;
    box-shadow: 0px 1.5px 2px #E3E2E2;
    border-bottom-color: #CFCDCD;
}

form input:focus{
  width: 570px;
  height: 42px;
  margin-top: 20px;
  border-style: solid;
  border-width: 0.3px;
  border-color: #E5E5E5;
  box-shadow: 0.5px 3px 6px #D4D2D2;
  border-bottom-color: #CFCDCD;
}

form input:hover{
  width: 570px;
  height: 42px;
  margin-top: 20px;
  border-style: solid;
  border-width: 0.3px;
  border-color: #E5E5E5;
  box-shadow: 0.5px 3px 6px #D4D2D2;
  border-bottom-color: #CFCDCD;
}

.search_buttons{
  position: relative;
  top: 30px;
}

.search_buttons input{
	font:bold 13px Arial;
  color: #757070;
	background:#f5f5f5;
	border-radius:2px;
	width:145px;
  height:37px;
  border: none;
}

.search_buttons input:hover{
	font:bold 13px Arial;
  color: black;
	background:#f5f5f5;
	border-radius:2px;
	width:145px;
  height:37px;
  border: 0.5px solid silver;
}

footer{
  position: absolute;
  bottom: 0px;
  background-color: #f5f5f5;
  width: 100%;
  font: Roboto;
}

.first-footer{
  color: #666666;
  font-size: 14px;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  height: 45px;
}

.second-footer{
  height: 40px;
}

footer p{
  margin-left: 30px;
}

footer ul{
  margin-left: -20px;
  display: inline-block;
  margin-top: 10px;
}

.footer-right{
  margin-left:620px;
}
